@media screen and (min-width: 768px){
.container-fluid{
    background-color: #f9a04e;
}

}


header.container-fluid{
    display:grid;
    display: flex;
    background-color:#fce580;
    height: 3rem;
    align-items: center;
    justify-content: center;
}
ul.nav{
    color:#94844b;
}

.nav li a{
font-family: 'permanent-marker', sans-serif;
font-weight: 400;
font-style: normal;
color:#231f20;
padding-right:3em;
padding-left: 3em;
text-decoration: none;
font-size: 2vw;
letter-spacing: .5rem;
}

 .nav a {
    position: relative;
    display: block;
    cursor: pointer;
  }
  
 .nav a:before, a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 10px;
    top: 50%;
    margin-top: -0.5px;
    background: rgb(0, 0, 0);
  }
  
 .nav a:before {
    left: -1px;
  }
 .nav a:after {
    right: 1px;
    transition: width 0.4s cubic-bezier(1, 1, 1, 1);
  }
  
 .nav a:hover:before {
    width: 100%;
    transition: width 0.5s cubic-bezier(1, 1, 1, 1);
  }
  
 .nav a:hover:after {
    background: transparent;
    width: 100%;
    transition: 0s;
  }
  

.button_slide {
    color: #231f20;
    background-color: #94844b;
    padding: 1vw 6vw;
    display: inline-block;
    font-family: "raleway";
    font-size: 2vw;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #94844b;
    -webkit-transition: ease-out 0.s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
  }
  
  .slide_left{
      background-color: #cf9ab8;
  }

  .slide_right{
    background-color: #fce580;
}
 
  .slide_right:hover {
    box-shadow: inset 400px 0 0 0 #231f20;
    color: #94844b;
  }
  
  .slide_left:hover {
    box-shadow: inset -400px 0 0 0 #231f20;
    color: #94844b;}
  
  #outer {
    width: 364px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  a.button:hover{
    background-color:#231f20;
    color:#94844b;
    border-color:#231f20;
    }
  @media all and (min-width: 576px){
    a.button{
    display:block;
    margin:0.2em auto;
    } 
} 
#name-hero{
    display: flex;
    flex-direction: column;
    height: 40vw;
    background-color: #fce580; 
    position: relative;
}
#name-hero h1{
    text-align: center;
    font-size: 10vw;
    color:#39393b;
    font-family: 'Metal Mania';
    letter-spacing: 1vw;
    margin-top: 1em;
    justify-self: center;
}
    #name-hero a{
    position:absolute;
    bottom:0;
    right: 26%;
}
#bio{
    display: flex;
    background-color:#cf9ab8;
    height: 40vw; 
    justify-items: center;  
}
#bio a{
    position:absolute;
    right: 50%;  
}
#bio .h2{
    margin-left: 2em;
    margin-right: 2em;
    font-size: 4vw;
    align-self: center;
    color: white;
    font-family: 'Expletus Sans';
    text-align: center;
    overflow-wrap: break-word;
}

/* external css: flickity.css */
.copy {
    text-align: center;
    width: 66%;
    height: 10vw;
    background:transparent;
    counter-increment: copy;
    font-size: 2vw;
    font-family: "raleway";
  }
h2{
    text-align: center;
    justify-self: center;
    font-size: 2rem;
    color: white;
    font-family: 'Expletus Sans';
    margin: 3vw;
}
.shapes{
    color: #39393b;
    display:flex;
    height: 100vw;
    font-family: 'Megrim';
    font-weight: 1000;
    background-color:#39393b;
    font-size: 100px;
    text-align: center;
}    
footer {
    position: relative;
    height: 100%;  
}

div#wwks.container-fluid{
    height: 30em;
    background-image: url("clouds.jpeg");
    background-position-y: center;
    background-repeat: repeat;
    background-size:cover;
}

#wwks{
    display:flex;
    font-family: 'raleway';
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
}

div#kanye.btn {
    padding: 5px;
    margin: 0;
    position: absolute;
    border: none;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    overflow: hidden;
    background-color: #cf9ab877;
}
#quote {
    color:#39393b;
    font-weight:bolder;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-shadow:1px 1px 10px #cf9ab877, 1px 1px 10px rgb(146, 148, 1248);
}

.btn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
.btn:hover:before {
    left: 100%;
  }
